
<div class="card my-5">
    <div class="card-body">
    
        <div class="form-group">
          <label for="numeroCommande">Numéro commande : </label>
          <p id="numeroCommande" name="numeroCommande"> {{ commande.numeroCommande }} </p> 
        </div>
        
        <div class="form-group">
            <label for="dateCommande">Date de la commande :  </label>
            <p id="dateCommande" name="dateCommande"> {{ commande.dateCommande }} </p> 
        </div>

        <div class="form-group">
            <label for="client">Client :  </label>
            <p id="client" name="client"> {{'id : '+ commande.client.id +', '+ commande.client.name+ ' ' + commande.client.firstName }} </p> 
        </div>

       
          <button (click)="modifierCommande()" class="btn btn-primary">Modifier Commande</button>
          <button (click)="supprimerCommande()" class="btn btn-danger">Supprimer Commande</button>
  </div>


        </div>
        

           
   
       

  <div *ngIf="formModified && +commande.id>0">
    <app-commande-form
      [commande]="commande">
    </app-commande-form>
  </div>
