<h1> Tableau des catégories </h1>

<div class="card my-5">
    <div class="card-body">
      <table class="table table-bordered table-striped">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Numéro</th>
            <th scope="col">Name </th>
            

          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let categorie of categories">
            <td> <a href="http://localhost:4200/categories/{{ categorie.id }}"> {{ categorie.id }}</a></td>
            <td>{{ categorie.name }}</td>
            

          </tr>
        </tbody>
      </table>
    </div>
  </div>
  

